### While loop

The while loop is used to repeat a set of statements as long as a condition is true.

In [12]:
print ('--------------------------')
C = -20
dC = 5
while C<=40:
    F = (9.0/5)*C + 32
    print ("C = %2g\t\tF = %.2f" %(C,F))
    C = C + dC
print('---------------------------')

--------------------------
C = -20		F = -4.00
C = -15		F = 5.00
C = -10		F = 14.00
C = -5		F = 23.00
C =  0		F = 32.00
C =  5		F = 41.00
C = 10		F = 50.00
C = 15		F = 59.00
C = 20		F = 68.00
C = 25		F = 77.00
C = 30		F = 86.00
C = 35		F = 95.00
C = 40		F = 104.00
---------------------------

Implement sine function as a polynomial
$$sin(x)\approx x-\frac{x^3}{3!}+\frac{x^5}{5!}-\frac{x^7}{7!}+...$$  
  
  
$$k! = k(k-1)(k-2)\cdot\cdot\cdot2\cdot1$$  
  
  
factorial is done by `math.factorial(k)`

In [27]:
#initialize
N = 25
k = 1
x = 1.2
s = x
sign = 1.0

import math

while k<N:
    sign = -sign
    k = k+2
    term = sign*x**k/math.factorial(k)
    s = s + term
    
print("sin(%g) = %g  (approximation in %d terms)"%(x,s,N))

sin(1.2) = 0.932039  (approximation in 25 terms)

### Lists

- put all the numbers inside square brackets and separate the numbers by commas.  
- Elements in lists can be deleted, and new elements can be inserted anywhere. The functionality for doing this is built into the list object and accessed by a dot notation. Two examples are `C.append(v)`, *which appends a new element v to the end of the list*, and `C.insert(i,v)`, *which inserts a new element v in position number i in the list*.  
- The number of elements in a list is given by `len(C)`.
- Two lists can be added and the result is a new list.
- With `del C[i]` we can remove an element with index i from the list C.
- The command `C.index(10)` returns the index corresponding to the first element with value 10.
- To just test if an object with the value 10 is an element in the list, one can write the boolean expression 10 in C.
- Python allows negative indices, which leads to indexing from the right.`C[-1]` gives the last element of the list C. `C[-2]` is the element before `C[-1]`, and so forth.

In [43]:
C = []
C_value = -50
C_max = 20
while C_value <= C_max:
    C.append(C_value)
    C_value += 2.5

In [44]:
print(C)

[-50, -47.5, -45.0, -42.5, -40.0, -37.5, -35.0, -32.5, -30.0, -27.5, -25.0, -22.5, -20.0, -17.5, -15.0, -12.5, -10.0, -7.5, -5.0, -2.5, 0.0, 2.5, 5.0, 7.5, 10.0, 12.5, 15.0, 17.5, 20.0]

There is a compact syntax for creating variables that refer to the various list elements. Simply list a sequence of variables on the left-hand side of an assignment to a list.

In [31]:
somelist = ['book.txt','book.log','book.var']
textfile,logfile,varfile = somelist

In [32]:
textfile

'book.txt'

In [33]:
logfile

'book.log'

In [34]:
varfile

'book.var'

**NOTE**:*The number of variables on the left-hand side must match the number of elementsin the list, otherwise an error occurs.*

### For loop

In [45]:
#coversion to Farehiet
print('\t   C\t F')
for c in C:
    F = (9.0/5)*c + 32
    print('\t%5d\t%5.1f'%(c,F))

	   C	 F
	  -50	-58.0
	  -47	-53.5
	  -45	-49.0
	  -42	-44.5
	  -40	-40.0
	  -37	-35.5
	  -35	-31.0
	  -32	-26.5
	  -30	-22.0
	  -27	-17.5
	  -25	-13.0
	  -22	 -8.5
	  -20	 -4.0
	  -17	  0.5
	  -15	  5.0
	  -12	  9.5
	  -10	 14.0
	   -7	 18.5
	   -5	 23.0
	   -2	 27.5
	    0	 32.0
	    2	 36.5
	    5	 41.0
	    7	 45.5
	   10	 50.0
	   12	 54.5
	   15	 59.0
	   17	 63.5
	   20	 68.0

In [46]:
type(F)

float

In [47]:
type(C)

list

### The Range Construction

- `range(n)` generates integers 0, 1, 2, ..., n-1.
- `range(start, stop, step)` generates a sequence if integers start, start+step, start+2*step, and so on up to, but not including, stop. For example, range(2, 8, 3) returns 2 and 5 (and not 8), while range(1, 11, 2) returns 1, 3, 5, 7, 9.
- `range(start, stop)` is the same as range(start, stop, 1).

In [48]:
Cdegrees = []
for C in range(-20,45,5):
    Cdegrees.append(C)
print(Cdegrees)

[-20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40]

In [56]:
#or another way
Cdegree = []
Cdegree = list(range(-20,45,5))
print(Cdegree)

[-20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40]

In [54]:
type(Cdegree)

list

`range()`only increment in `int` steps. Inorder to have float increment we do,

In [60]:
Cdegrees = []
for i in range(0,21):
    C = -10 + i*2.5
    Cdegrees.append(C)
print(Cdegrees)

[-10.0, -7.5, -5.0, -2.5, 0.0, 2.5, 5.0, 7.5, 10.0, 12.5, 15.0, 17.5, 20.0, 22.5, 25.0, 27.5, 30.0, 32.5, 35.0, 37.5, 40.0]

We can iterate not only through the elements but also through the list indices.

In [62]:
for i in range(len(Cdegrees)):
    i = Cdegrees[i]
    print('%5.1f'%i)

-10.0
 -7.5
 -5.0
 -2.5
  0.0
  2.5
  5.0
  7.5
 10.0
 12.5
 15.0
 17.5
 20.0
 22.5
 25.0
 27.5
 30.0
 32.5
 35.0
 37.5
 40.0

loop iteration is useful when we need to process two list simultaneously

In [63]:
Fdegree = []
for C in Cdegrees:
    F = (9.0/5)*C + 32
    Fdegree.append(F)
print(Fdegree)

[14.0, 18.5, 23.0, 27.5, 32.0, 36.5, 41.0, 45.5, 50.0, 54.5, 59.0, 63.5, 68.0, 72.5, 77.0, 81.5, 86.0, 90.5, 95.0, 99.5, 104.0]

In [66]:
for i in range(len(Cdegrees)):
    C = Cdegrees[i]
    F = Fdegree[i]
    print('%5.1f %5.1f'%(C,F))

-10.0  14.0
 -7.5  18.5
 -5.0  23.0
 -2.5  27.5
  0.0  32.0
  2.5  36.5
  5.0  41.0
  7.5  45.5
 10.0  50.0
 12.5  54.5
 15.0  59.0
 17.5  63.5
 20.0  68.0
 22.5  72.5
 25.0  77.0
 27.5  81.5
 30.0  86.0
 32.5  90.5
 35.0  95.0
 37.5  99.5
 40.0 104.0

To change the list element, only the assignment of the form `Cdegree[i] += 5` can change the list element not  
`for c in Cdegrees:
   c += 5`
   
The problem is that c is an ordinary variable, which refers to a list element in the loop, but when we execute c += 5, we let c refer to a new float object (c+5). This object is never inserted in the list

**List Comprehension**  
  
`newlist = [E(e) for e in list]` E(e) is an expression involving element e.

In [1]:
Cdegree = [-10 + i*2.5 for i in range(21)]
print(Cdegree)

[-10.0, -7.5, -5.0, -2.5, 0.0, 2.5, 5.0, 7.5, 10.0, 12.5, 15.0, 17.5, 20.0, 22.5, 25.0, 27.5, 30.0, 32.5, 35.0, 37.5, 40.0]

In [2]:
Fdegree = [(9.0/5)*C + 32 for C in Cdegree]
print(Fdegree)

[14.0, 18.5, 23.0, 27.5, 32.0, 36.5, 41.0, 45.5, 50.0, 54.5, 59.0, 63.5, 68.0, 72.5, 77.0, 81.5, 86.0, 90.5, 95.0, 99.5, 104.0]

In [71]:
C_plus_5 = [C+5 for C in Cdegree]
print(C_plus_5)

[-5.0, -2.5, 0.0, 2.5, 5.0, 7.5, 10.0, 12.5, 15.0, 17.5, 20.0, 22.5, 25.0, 27.5, 30.0, 32.5, 35.0, 37.5, 40.0, 42.5, 45.0]

**Traversing multiple lists simultaneously**  
```python
for e1, e2, e3, ... in zip(list1, list2, list3, ...):
     #work with element e1 from list1, element e2 from list2,  
     #element e3 from list3, etc.
```

The zip function turns n lists (list1, list2, list3, ...) into one list of n-tuples, where each n-tuple (e1,e2,e3,...) has its first element (e1) from the first list (list1), the second element (e2) from the second list (list2), and so forth. The loop stops when the end of the shortest list is reached.

In [3]:
for C,F in zip(Cdegree,Fdegree):
    print('%5.1f C %5.1f F'%(C,F))

-10.0 C  14.0 F
 -7.5 C  18.5 F
 -5.0 C  23.0 F
 -2.5 C  27.5 F
  0.0 C  32.0 F
  2.5 C  36.5 F
  5.0 C  41.0 F
  7.5 C  45.5 F
 10.0 C  50.0 F
 12.5 C  54.5 F
 15.0 C  59.0 F
 17.5 C  63.5 F
 20.0 C  68.0 F
 22.5 C  72.5 F
 25.0 C  77.0 F
 27.5 C  81.5 F
 30.0 C  86.0 F
 32.5 C  90.5 F
 35.0 C  95.0 F
 37.5 C  99.5 F
 40.0 C 104.0 F

### Nested lists

Here we create a nested list table with columns of C,F

In [43]:
table = [Cdegree, Fdegree]

table

[[-10.0,
  -7.5,
  -5.0,
  -2.5,
  0.0,
  2.5,
  5.0,
  7.5,
  10.0,
  12.5,
  15.0,
  17.5,
  20.0,
  22.5,
  25.0,
  27.5,
  30.0,
  32.5,
  35.0,
  37.5,
  40.0],
 [14.0,
  18.5,
  23.0,
  27.5,
  32.0,
  36.5,
  41.0,
  45.5,
  50.0,
  54.5,
  59.0,
  63.5,
  68.0,
  72.5,
  77.0,
  81.5,
  86.0,
  90.5,
  95.0,
  99.5,
  104.0]]

In [44]:
table[1][2]

23.0

Another way is table of row, each row [C,F] is a list of two floats

In [51]:
table = [[C,F] for C,F in zip(Cdegree,Fdegree)]
table

[[-10.0, 14.0],
 [-7.5, 18.5],
 [-5.0, 23.0],
 [-2.5, 27.5],
 [0.0, 32.0],
 [2.5, 36.5],
 [5.0, 41.0],
 [7.5, 45.5],
 [10.0, 50.0],
 [12.5, 54.5],
 [15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5],
 [35.0, 95.0],
 [37.5, 99.5],
 [40.0, 104.0]]

In [6]:
table[20][1]

104.0

In [28]:
table = []
for C,F in zip(Cdegree,Fdegree):
    table.append([C,F])
    
table

[[-10.0, 14.0],
 [-7.5, 18.5],
 [-5.0, 23.0],
 [-2.5, 27.5],
 [0.0, 32.0],
 [2.5, 36.5],
 [5.0, 41.0],
 [7.5, 45.5],
 [10.0, 50.0],
 [12.5, 54.5],
 [15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5],
 [35.0, 95.0],
 [37.5, 99.5],
 [40.0, 104.0]]

In [30]:
table[0][0]

-10.0

In [31]:
import pprint
pprint.pprint(table)

[[-10.0, 14.0],
 [-7.5, 18.5],
 [-5.0, 23.0],
 [-2.5, 27.5],
 [0.0, 32.0],
 [2.5, 36.5],
 [5.0, 41.0],
 [7.5, 45.5],
 [10.0, 50.0],
 [12.5, 54.5],
 [15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5],
 [35.0, 95.0],
 [37.5, 99.5],
 [40.0, 104.0]]

In [33]:
s = pprint.pformat(table)
print(s)

[[-10.0, 14.0],
 [-7.5, 18.5],
 [-5.0, 23.0],
 [-2.5, 27.5],
 [0.0, 32.0],
 [2.5, 36.5],
 [5.0, 41.0],
 [7.5, 45.5],
 [10.0, 50.0],
 [12.5, 54.5],
 [15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5],
 [35.0, 95.0],
 [37.5, 99.5],
 [40.0, 104.0]]

### Extracting sublist or Slicing

**A[i:]** is the sublist starting with index i in A and continuing to the end of A:

In [7]:
A = [2,3.1,5.3,8,9,10]
A[2:]

[5.3, 8, 9, 10]

**A[i:j]** is the sublist starting with index **i** in A and continuing up to and including index **j-1**. Make sure you remember that the element corresponding to index j is not included in the sublist:

In [8]:
A[2:4]

[5.3, 8]

In [9]:
A[1:5]

[3.1, 5.3, 8, 9]

In [10]:
A[1:6]

[3.1, 5.3, 8, 9, 10]

**A[:i]** is the sublist starting with index 0 in A and continuing up to and including the element with index i-1

In [11]:
A[:5]

[2, 3.1, 5.3, 8, 9]

**A[1:-1]** extracts all elements except the first and the last (recall that index **-1 refers to the last element**)

In [12]:
A[1:-1]

[3.1, 5.3, 8, 9]

**A[:]** is the whole list

In [13]:
A[:]

[2, 3.1, 5.3, 8, 9, 10]

Note:- **Sublists are always copies of the original list, so if you modify the sublist the original list remains unaltered and vice versa**

In [14]:
table[10:-1]

[[15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5],
 [35.0, 95.0],
 [37.5, 99.5]]

In [26]:
table[10:-1][3:4]

[[22.5, 72.5]]

In [28]:
table[10:-1][3:4][0]

[22.5, 72.5]

In [29]:
table[10:-1][3:4][0][0]

22.5

In [30]:
table[10:-1][3:4][0][1]

72.5

In [31]:
B = A[:]
C = A

In [32]:
C == A

True

In [33]:
C is A

True

In [34]:
B is A

False

In [36]:
B == A

True

The B == A boolean expression is True if all elements in B are equal to the corresponding elements in A. The test B is A is True if A and B are names for the same list. Setting C = A makes C refer to the same list object as A, while B = A[:] makes B refer to a copy of the list referred to by A.

In [52]:
table

[[-10.0, 14.0],
 [-7.5, 18.5],
 [-5.0, 23.0],
 [-2.5, 27.5],
 [0.0, 32.0],
 [2.5, 36.5],
 [5.0, 41.0],
 [7.5, 45.5],
 [10.0, 50.0],
 [12.5, 54.5],
 [15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5],
 [35.0, 95.0],
 [37.5, 99.5],
 [40.0, 104.0]]

In [57]:
for C,F in table [Cdegree.index(10):Cdegree.index(35)]:
    print(C,F)

10.0 50.0
12.5 54.5
15.0 59.0
17.5 63.5
20.0 68.0
22.5 72.5
25.0 77.0
27.5 81.5
30.0 86.0
32.5 90.5

In [54]:
table [Cdegree.index(10):Cdegree.index(35)]

[[10.0, 50.0],
 [12.5, 54.5],
 [15.0, 59.0],
 [17.5, 63.5],
 [20.0, 68.0],
 [22.5, 72.5],
 [25.0, 77.0],
 [27.5, 81.5],
 [30.0, 86.0],
 [32.5, 90.5]]

In [60]:
print(Cdegree.index(10))
print(Cdegree.index(35))

8
18

`Cdegree.index(10)`  **returns the index corresponding to the value 10**.  
Helpfull if we don't know the index but need a range of value we can do this.

The above for loop is equivalent to:

In [65]:
for C,F in table[8:18]:
    print(C,F)

10.0 50.0
12.5 54.5
15.0 59.0
17.5 63.5
20.0 68.0
22.5 72.5
25.0 77.0
27.5 81.5
30.0 86.0
32.5 90.5

### Traversing nested list

If we donot know how many elements there are in  each list element of the list in the nested list  
eg:  Suppose we use a nested list scores to record the scores of players in a game: scores[i] holds a list of the historical scores obtained by player number i. Different players have played the game a different number of times, so the length of scores[i] depends on i.

In [66]:
scores = []
# score of player 0
scores.append([3,2,1,8,10])
# score of player 1
scores.append([2,0,3])
# score of player 2
scores.append([9])
# score of player 3
scores.append([10,3,6,9,9,0,5,3,2,7,6])

In [67]:
scores

[[3, 2, 1, 8, 10], [2, 0, 3], [9], [10, 3, 6, 9, 9, 0, 5, 3, 2, 7, 6]]

In [72]:
# traversing using index
score = [scores[p] for p in range(len(scores))]
score[1][1]

0

In [74]:
score = [scores[p][g] for p in range(len(scores)) for g in range(len(scores[p])) ]

In [75]:
score

[3, 2, 1, 8, 10, 2, 0, 3, 9, 10, 3, 6, 9, 9, 0, 5, 3, 2, 7, 6]

In [96]:
for p in range(len(scores)):
    for g in range(len(scores[p])):
        score = scores[p][g]
        print("%4d"%score,end="")
    print()

   3   2   1   8  10
   2   0   3
   9
  10   3   6   9   9   0   5   3   2   7   6

In [98]:
# variable version iteration
for player in scores:
    for game in player:
        print("%3d"%game,end="")
    print()

  3  2  1  8 10
  2  0  3
  9
 10  3  6  9  9  0  5  3  2  7  6

### Tuple

- A tuple can be viewed as a constant list: no changes in the contents of the tuple is allowed. Tuples employ standard parentheses or no parentheses, and elements are separated with comma as in lists.
- Many list operations are also valid for tuples, but **those that changes the list content cannot be used with tuples `(examples are append, del, remove, index, and sort)`**.
- An object a containing an ordered collection of other objects such that a[i]refers to object with index i in the collection, is known as a *sequence* in Python. eg: lists,tuples,arrays
- For a collection of unordered objects a dictionary is often more convenient.

Implemetation of a sum $$\sum_{j = M}^{N}q(j)$$ where $q(j)$ is some mathematical expression involving integer counter j is normally implemeted using for loop.  
eg: $q(j) = \frac{1}{j^2}$

In [147]:
M = 1;
N = 10
s = 0;
for j in range (1,6,1):
    s += 1./j**2
    print("s = %3.2f, j = %3d"%(s,j))

s = 1.00, j =   1
s = 1.25, j =   2
s = 1.36, j =   3
s = 1.42, j =   4
s = 1.46, j =   5

In [144]:
#or
Sum = 0
Sum = [(Sum + 1./j**2) for j in range(1,11)]
print(Summ)

[1.0, 0.25, 0.1111111111111111, 0.0625, 0.04, 0.027777777777777776, 0.02040816326530612, 0.015625, 0.012345679012345678, 0.01]

In [138]:
sum_of_squares = [num ** 2 for num in range(6)]
print(sum_of_squares)

[0, 1, 4, 9, 16, 25]

In [151]:
numbers = [1, 2, 3, 4, 5]

# List comprehension to calculate sum of inverse square function
sum_of_inverses = sum([1/(x**2) for x in range(1,6)])

print(sum_of_inverses) # Output: 1.4636111111111112

TypeError: 'list' object is not callable

In [150]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use a list comprehension to find the inverse square of each number
inverse_squares = [(1/x**2) for x in numbers]

# Calculate the sum of the inverse squares using the built-in sum() function (correct)
sum_inverse_squares = sum(inverse_squares)

# Print the result
print(sum_inverse_squares)

TypeError: 'list' object is not callable

### Example : Analyzing the list Data

The file contains data of the number of sun hours in Oxford, UK, for every month since January 1929. The data are already on a suitable nested list format:  
The list in every line holds the number of sun hours for each of the year’s 12 months. That is, the first index in the nested list corresponds to year and the second index corresponds to the month number. More precisely, the double index [i][j] corresponds to year 1929 C i and month 1 C j (January being month number 1).
The task is to define this nested list in a program and do the following data analysis.

- Compute the average number of sun hours for each month during the total data period (1929–2009).
- Which month has the best weather according to the means found in the preceding task?
- For each decade, 1930–1939, 1940–1949, . . ., 2000–2009, compute the average number of sun hours per day in January and December. For example, use December 1949, January 1950, . . , December 1958, and January 1959 as data for the decade 1950–1959. Are there any noticeable differences between the decades?

In [155]:
data = [
[43.8, 60.5, 190.2, 144.7, 240.9, 210.3, 219.7, 176.3, 199.1, 109.2, 78.7, 67.0],
[49.9, 54.3, 109.7, 102.0, 134.5, 211.2, 174.1, 207.5, 108.2, 113.5, 68.7, 23.3],
[63.7, 72.0, 142.3, 93.5, 150.1, 158.7, 127.9, 135.5, 92.3, 102.5, 62.4, 38.5],
[51.0, 57.9, 133.4, 110.9, 112.4, 199.3, 124.0, 178.3, 102.1, 100.7, 55.7, 58.0],
[69.5, 94.3, 187.6, 152.5, 170.2, 226.9, 237.6, 242.7, 177.3, 101.3, 53.9, 59.0],
[65.9, 96.6, 122.5, 124.9, 216.3, 192.7, 269.3, 184.9, 149.1, 81.5, 48.7, 31.3],
[48.1, 62.0, 121.5, 127.3, 188.5, 196.3, 274.3, 199.9, 144.7, 102.6, 65.4, 48.9],
[43.4, 89.2, 71.4, 133.2, 179.5, 166.2, 119.2, 184.7, 79.3, 103.1, 48.9, 62.3],
[50.9, 66.6, 99.7, 103.1, 185.0, 181.3, 140.1, 202.3, 143.0, 79.1, 65.9, 41.2],
[41.2, 66.9, 172.3, 180.9, 144.9, 190.6, 133.5, 151.3, 110.9, 118.1, 70.0, 52.4],
[46.4, 104.9, 86.2, 171.7, 184.9, 227.9, 139.7, 153.7, 147.0, 94.3, 41.1, 46.0],
[83.1, 22.8, 128.3, 118.1, 215.4, 273.4, 165.1, 199.5, 179.5, 95.5, 76.8, 46.5],
[41.7, 67.9, 118.7, 106.9, 141.9, 210.3, 227.5, 163.7, 123.7, 120.2, 47.1, 46.9],
[45.1, 53.9, 69.4, 202.5, 209.4, 234.0, 150.1, 132.7, 124.5, 84.6, 57.8, 51.0],
[54.7, 79.3, 132.9, 166.6, 244.1, 192.9, 196.7, 178.3, 142.5, 84.9, 72.3, 49.5],
[41.2, 62.4, 142.7, 147.0, 235.6, 170.3, 97.5, 185.2, 143.8, 102.0, 49.3, 64.1],
[51.5, 65.7, 152.6, 209.1, 156.1, 182.4, 159.0, 144.8, 64.9, 111.7, 31.0, 46.6],
[49.9, 78.7, 107.2, 203.3, 162.9, 149.8, 197.6, 134.8, 98.5, 79.3, 42.9, 74.7],
[59.5, 26.3, 70.9, 150.5, 147.3, 185.9, 144.5, 274.9, 159.9, 107.3, 75.4, 37.9],
[45.7, 92.9, 160.2, 205.2, 237.1, 124.2, 174.7, 133.7, 146.4, 93.7, 68.6, 65.4],
[51.0, 115.1, 112.5, 182.5, 233.3, 242.1, 262.5, 210.3, 151.1, 125.0, 76.2, 65.4],
[40.6, 67.5, 138.8, 163.7, 174.1, 244.5, 174.0, 171.1, 112.7, 96.6, 56.9, 55.3],
[48.9, 58.6, 92.6, 200.4, 152.1, 251.9, 216.7, 174.7, 110.8, 105.6, 75.1, 69.8],
[94.1, 96.7, 105.0, 178.2, 207.0, 217.6, 194.0, 180.5, 140.3, 105.0, 72.1, 77.7],
[42.5, 75.9, 140.7, 183.3, 223.0, 139.7, 203.4, 237.4, 151.7, 84.1, 54.4, 28.4],
[75.7, 79.7, 107.9, 202.4, 145.9, 157.1, 157.1, 123.5, 168.8, 94.5, 60.1, 54.5],
[40.1, 86.3, 161.4, 173.7, 217.5, 155.3, 268.3, 188.0, 153.1, 119.7, 71.5, 47.3],
[50.3, 78.9, 149.7, 158.7, 246.6, 145.0, 168.0, 161.4, 94.3, 116.5, 77.9, 18.2],
[50.8, 83.1, 110.2, 168.0, 205.6, 297.1, 157.9, 170.5, 102.6, 92.9, 76.4, 62.3],
[54.6, 55.4, 110.7, 145.2, 196.0, 145.7, 188.1, 119.6, 118.0, 93.7, 51.8, 29.5],
[85.8, 65.5, 102.0, 153.8, 228.0, 226.3, 272.7, 245.6, 213.9, 144.2, 70.6, 45.0],
[37.8, 82.3, 78.0, 164.9, 182.3, 274.9, 129.7, 147.1, 122.8, 60.9, 73.4, 54.5],
[43.6, 65.1, 173.2, 86.9, 225.2, 231.2, 196.5, 185.7, 135.8, 118.2, 63.4, 76.5],
[70.0, 70.6, 126.3, 143.3, 177.5, 280.3, 137.3, 154.5, 142.3, 108.8, 32.7, 72.6],
[58.9, 66.4, 85.8, 119.1, 193.4, 199.4, 188.2, 142.6, 129.7, 78.8, 60.4, 49.8],
[37.2, 57.3, 65.9, 128.5, 190.8, 156.1, 214.7, 217.7, 210.4, 134.5, 55.0, 51.1],
[83.7, 31.1, 137.7, 141.6, 179.6, 188.7, 122.8, 181.2, 122.9, 109.9, 77.4, 71.9],
[42.5, 41.5, 121.5, 81.5, 234.9, 199.0, 149.7, 188.6, 168.0, 90.4, 61.0, 41.7],
[64.2, 88.2, 174.6, 130.8, 184.2, 232.0, 234.4, 167.1, 116.5, 95.1, 69.2, 70.6],
[50.0, 54.0, 148.5, 184.5, 155.0, 206.6, 136.2, 124.0, 114.9, 66.5, 47.9, 35.9],
[40.0, 78.1, 70.5, 221.3, 161.9, 276.9, 243.8, 157.5, 97.4, 112.0, 84.6, 35.6],
[34.5, 115.9, 120.8, 132.7, 224.8, 270.9, 192.4, 185.6, 157.3, 106.2, 64.7, 43.8],
[42.1, 69.5, 106.0, 122.9, 228.9, 143.5, 259.3, 134.2, 166.5, 135.2, 102.0, 29.8],
[41.8, 27.3, 144.0, 117.6, 141.9, 150.4, 168.7, 160.9, 129.1, 91.6, 80.6, 47.6],
[38.8, 74.1, 150.7, 167.7, 168.0, 249.5, 171.1, 192.0, 153.9, 95.1, 89.1, 62.9],
[56.3, 58.3, 101.7, 142.1, 191.4, 206.2, 187.8, 198.7, 146.5, 105.4, 52.9, 58.8],
[44.7, 57.8, 72.7, 131.4, 159.1, 301.0, 242.4, 218.6, 147.0, 120.7, 85.1, 34.4],
[70.3, 42.6, 107.8, 148.7, 172.0, 261.4, 254.2, 257.4, 118.2, 43.6, 54.1, 58.6],
[35.4, 74.4, 87.2, 157.9, 217.5, 123.2, 193.6, 123.4, 101.8, 107.3, 102.4, 45.2],
[53.6, 58.9, 128.1, 113.6, 202.8, 171.7, 146.4, 157.4, 159.3, 87.5, 77.3, 34.3],
[72.0, 67.3, 92.9, 126.4, 190.9, 166.6, 192.2, 167.4, 171.0, 117.0, 70.0, 59.7],
[84.0, 58.8, 86.7, 165.4, 228.7, 186.7, 168.9, 169.0, 136.4, 111.8, 61.4, 64.4],
[50.9, 75.3, 57.8, 110.4, 98.3, 122.8, 129.0, 199.8, 157.3, 101.9, 43.7, 57.5],
[55.0, 33.8, 144.7, 164.4, 187.2, 148.4, 151.4, 159.8, 141.0, 66.3, 68.5, 60.4],
[54.9, 74.0, 89.5, 150.5, 126.8, 180.3, 257.5, 214.5, 92.4, 119.7, 44.3, 62.9],
[86.1, 66.0, 48.8, 236.8, 143.4, 244.3, 249.4, 199.8, 99.6, 88.6, 53.8, 57.6],
[51.1, 78.0, 112.4, 138.3, 178.3, 165.0, 216.0, 164.9, 143.3, 100.8, 86.1, 44.2],
[76.4, 71.2, 127.3, 139.6, 205.6, 222.7, 201.2, 147.0, 171.6, 119.7, 77.9, 64.8],
[68.8, 67.8, 111.6, 158.7, 168.7, 129.3, 179.4, 158.2, 132.3, 109.5, 43.9, 42.9],
[47.7, 103.7, 85.2, 132.0, 178.1, 142.3, 138.8, 178.8, 136.9, 120.0, 91.4, 46.7],
[68.2, 107.0, 100.9, 133.9, 300.8, 244.4, 280.4, 269.5, 141.6, 90.8, 104.1, 26.5],
[58.3, 95.7, 144.1, 234.4, 285.0, 121.1, 268.5, 236.6, 164.7, 124.4, 83.7, 58.8],
[66.9, 60.0, 87.2, 156.6, 142.9, 150.0, 217.3, 241.4, 165.4, 79.4, 57.4, 58.4],
[46.8, 67.3, 73.3, 139.2, 262.7, 212.2, 164.0, 173.6, 120.2, 101.3, 61.5, 47.2],
[38.0, 54.7, 135.0, 111.9, 196.7, 231.4, 190.0, 238.3, 107.7, 120.0, 76.3, 55.0],
[87.0, 77.6, 127.6, 177.7, 162.1, 254.9, 248.3, 191.8, 113.1, 137.5, 46.7, 68.2],
[61.8, 74.9, 198.7, 190.1, 233.5, 194.4, 247.6, 285.1, 135.3, 139.9, 78.1, 40.9],
[29.3, 103.4, 76.4, 148.3, 185.7, 290.7, 256.6, 211.6, 125.3, 130.8, 101.0, 55.5],
[51.4, 64.2, 150.2, 189.9, 261.4, 137.1, 231.7, 172.0, 169.7, 153.8, 47.1, 55.7],
[64.0, 113.0, 77.5, 105.8, 199.8, 114.0, 157.0, 225.0, 133.8, 94.5, 66.3, 38.1],
[51.1, 81.3, 97.4, 147.6, 153.6, 202.1, 235.4, 159.2, 155.2, 144.8, 81.1, 60.9],
[82.1, 104.9, 112.6, 143.4, 189.8, 164.6, 161.2, 209.4, 126.1, 83.9, 69.2, 51.9],
[83.3, 85.0, 74.1, 148.2, 198.3, 226.8, 206.1, 184.1, 123.0, 100.9, 86.9, 79.2],
[44.4, 80.5, 101.1, 210.0, 177.5, 163.3, 178.8, 166.2, 167.1, 104.8, 52.3, 41.3],
[87.7, 94.4, 154.8, 169.8, 191.2, 213.6, 192.0, 228.4, 175.3, 134.8, 78.9, 53.6],
[62.7, 79.1, 101.5, 150.3, 195.5, 223.6, 169.5, 194.1, 174.4, 102.4, 52.4, 58.3],
[65.4, 66.3, 79.3, 136.3, 226.4, 177.6, 192.0, 235.7, 155.4, 92.0, 88.0, 55.7],
[54.9, 73.1, 95.5, 152.5, 165.7, 246.2, 303.7, 167.2, 156.5, 109.0, 101.2, 42.7],
[79.8, 67.6, 165.4, 210.7, 165.5, 149.0, 195.1, 209.2, 142.6, 102.5, 86.9, 57.2],
[62.4, 124.1, 115.2, 161.2, 173.2, 223.8, 198.5, 141.8, 113.5, 132.2, 67.0, 73.5],
[69.3, 64.5, 161.4, 168.4, 226.1, 203.3, 212.3, 190.6, 163.7, 109.7, 73.5, 61.5],
]

1.

In [156]:
monthly_mean = []
n = len(data)
for month in range (12):
    s = 0
    for year in data:
        s += year[month]
    monthly_mean.append(s/n)

In [157]:
monthly_mean

[56.63827160493827,
 72.66296296296298,
 116.52222222222221,
 153.20370370370367,
 191.07037037037037,
 198.54691358024692,
 193.7506172839506,
 184.3395061728395,
 138.341975308642,
 104.63333333333334,
 67.37530864197531,
 52.35432098765432]

In [160]:
month_names = ('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep',
              'Oct','Nov','Dec')
for name,value in zip(month_names,monthly_mean):
    print('%s:  %.1f'%(name,value))

Jan:  56.6
Feb:  72.7
Mar:  116.5
Apr:  153.2
May:  191.1
Jun:  198.5
Jul:  193.8
Aug:  184.3
Sep:  138.3
Oct:  104.6
Nov:  67.4
Dec:  52.4

2.

In [161]:
max_value = max(monthly_mean)
month = month_names[monthly_mean.index(max_value)]
print("%s has the best weather with %.1f sun hours on average"
     %(month,max_value))

Jun has the best weather with 198.5 sun hours on average